<div class = "row">
 <div class="col-md-8">
    <div class="media-body">
         <h2 class="media-heading"> <%= @teacher.name %></h2>
        <%= @teacher.theme %>
        <%= @teacher.bio %>
        <%= @teacher.schedule %>

         </div>
        </div>
      </div>

